#proper-dirty {
  position: relative;
  height: 100vh;
  background-image: url("../images/harleys.jpg");
  background-size: cover;
}

#sidebar a:hover {
  background-color: rgb(143, 182, 65);
  background-color: #d3d382;
  opacity: 0.7;
  color: black !important;
  text-shadow: none;
}

#proper-dirty .greeting {
  position: absolute;
  /* top: 32%;
  left: 15%; */
  top: 50%;
  left: 49%;
}

#sidebar {
  position: absolute;
  top: 23%;
  left: 6%;
}

#sidebar a {
  font-family: "Courier New";
  color: #f1f1ad;
  letter-spacing: 0.3em;
  font-weight: 900;
  font-size: 16px;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(5, 5, 0);
}

div.greeting h1 {
  animation: fade 3s;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
}

div.greeting h1.first {
  font-family: "Yesteryear", Helvetica, cursive;
  color: #fff2f4;
  float: left;
  font-size: 67px;
}

#bootstrap-overrides h1.second {
  position: relative;
  top: 5px;
  float: right;
  font-size: 70px;
  font-family: "Rock Salt", Geneva, sans-serif;
  color: #fff2f4;
}

#bootstrap-overrides .bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  #proper-dirty {
    background-position: 15% top;
  }

  div.greeting h1.first {
    float: none;
    display: block;
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 178);
  }
  #proper-dirty .greeting {
    position: absolute;
    top: 24%;
    left: 10%;
    overflow-x: clip;
  }
  #bootstrap-overrides h1.second {
    float: none;
    display: block;
    position: relative;
    margin-left: 6rem;
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(235, 235, 220);
  }
}
