.modal-content {
  border-radius: 0;
  width: 80vw;
  background-color: rgb(230, 230, 230);
}
.modal-body {
  padding: 0;
  overflow-x: hidden;
}

.close-icon {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.close-icon:hover {
  color: black;
  background-color: bisque;
}

.top-line {
  background-color: rgba(172, 167, 167, 0.781);
}

.product-name {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul .smaller-font {
  font-size: 0.7rem;
  color: black;
}

.MuiSvgIcon-fontSizeSmall {
  padding-right: 6px;
  font-size: 0.9rem;
  vertical-align: middle;
}

.width-70 {
  width: 70%;
}

.main-image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.selectable-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background-position: center center;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 100%;
}

/* only for modal selectable images */
.selected-border {
  border: 4px double black;
}

.price {
  font-size: 1.3rem;
}
