body {
  margin: 0;
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.offset-nav {
  padding-top: 5rem;
}
.full-height {
  height: 100vh;
}

/* .row:before,
.row:after {
  display: flex !important;
} */

#bootstrap-overrides .page-container {
  position: relative;
  min-height: 100vh;
}

#bootstrap-overrides .footer-offset {
  /* equals the footer height */
  padding-bottom: 9rem;
}

#bootstrap-overrides .container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
